<%- include("../partials/head.ejs") %>
    <div class="space-3">
        <div class="container">
            <ul>
                <li>
                    <a href="/admin/internetServise">internet Servise</a>
                </li>
                <li>
                    <a href="/admin/servise">Servise</a>
                </li>
                <li>
                    <a href="/admin/user">user</a>
                </li>
                <li>
                    <a href="/admin/role">Role</a>
                </li>
                <li>
                    <a href="/admin/personal">Personal</a>
                </li>
                <li>
                    <a href="/admin/order">Order</a>
                </li>
            </ul>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>