<%- include("partials/head.ejs") %>

    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-lg-0 min-vh-lg-100">
            <!-- Content -->
            <div class="w-md-100">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="mb-5 mt-11">
                            <h1 class="display-4 mb-3">
                                Перетвори свої мрії в

                                <span class="text-primary text-highlight-warning">
                  <span class="js-text-animation">реальність.</span><span class="typed-cursor typed-cursor--blink">|</span>
                                </span>
                            </h1>
                            <p class="lead">Унас найшвидше і якісніше програмне замезпеченя що гарантує комфорт</p>
                        </div>

                        <a class="btn btn-primary btn-wide transition-3d-hover" href="/register">Почати зараз</a>
                    </div>
                </div>
            </div>
            <!-- End Content -->

            <!-- SVG Shape -->
            <figure class="col-lg-7 col-xl-6 d-none d-lg-block position-absolute top-0 right-0 pr-0 ie-main-hero" style="margin-top: 6.75rem;">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1137.5 979.2">
          <path fill="#F9FBFF" d="M565.5,957.4c81.1-7.4,155.5-49.3,202.4-115.7C840,739.8,857,570,510.7,348.3C-35.5-1.5-4.2,340.3,2.7,389
            c0.7,4.7,1.2,9.5,1.7,14.2l29.3,321c14,154.2,150.6,267.8,304.9,253.8L565.5,957.4z"></path>
          <defs>
            <path id="mainHeroSVG1" d="M1137.5,0H450.4l-278,279.7C22.4,430.6,24.3,675,176.8,823.5l0,0C316.9,960,537.7,968.7,688.2,843.6l449.3-373.4V0z"></path>
          </defs>
          <clipPath id="mainHeroSVG2">
            <use xlink:href="#mainHeroSVG1"></use>
          </clipPath>
          <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#mainHeroSVG2)">
            <image width="750" height="750" xlink:href="/img/750x750/img2.jpg" transform="matrix(1.4462 0 0 1.4448 52.8755 0)"></image>
          </g>
        </svg>
            </figure>
            <!-- End SVG Shape -->
        </div>
    </div>
    <div class="container space-top-md-2 space-bottom-2 space-bottom-lg-3">


        <!-- Blog Card -->
        <article class="card mb-11">
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <div class="position-relative overflow-hidden">
                        <img class="card-img" src="/img/900x450/img2.jpg" alt="Image Description">
                        <figure class="d-none d-lg-block">
                            <svg class="ie-curved-x position-absolute top-0 right-0 bottom-0 mr-n1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100.1 1920" height="101%">
                    <path fill="#fff" d="M0,1920c0,0,93.4-934.4,0-1920h100.1v1920H0z"></path>
                  </svg>
                        </figure>
                        <figure class="d-lg-none mb-n1">
                            <svg class="ie-curved-y position-absolute right-0 bottom-0 left-0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                    <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                  </svg>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card-body d-flex flex-column h-100 p-4 p-lg-5">
                        <h2><a class="text-inherit" href="#">Все прозоро і ніяких схованих записувань данних</a></h2>
                        <p>Ми не дозволяємо собі зберігати інформацю поперньо не отримавши вашої згоди.</p>

                    </div>
                </div>
            </div>
    </div>
    </article>
    <!-- End Blog Card -->
    </div>
    <div class="container">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>Прості і зрозумілі тарифи</h2>
            <p>Все прозоро ви завжди знатимете за що платите.</p>
        </div>
        <!-- End Title -->

        <div class="w-xl-80 mx-xl-auto">
            <!-- Pricing -->
            <div class="card p-4 mb-3 mb-md-1 aos-init aos-animate" data-aos="fade-up">
                <div class="row align-items-sm-center">
                    <div class="col">
                        <div class="media align-items-center">
                            <div class="min-w-8rem mr-2">
                                <figure class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 160 160">
                        <circle fill="#377dff" opacity=".85" cx="80" cy="80" r="48"></circle>
                      </svg>
                                </figure>
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Стандартний</h4>
                                <small class="d-block">Взяв і працюй</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-5">
                        <span class="font-size-1">Ідеальний тарифний план для дому.</span>
                    </div>
                    <div class="col-12 col-md col-lg-4 col-xl-3 text-lg-right mt-3 mt-lg-0">
                        <a class="btn btn-block btn-outline-primary border transition-3d-hover" href="/register">за $10 в місяць</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing -->

            <!-- Pricing -->
            <div class="card p-4 mb-3 mb-md-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                <div class="row align-items-sm-center">
                    <div class="col">
                        <div class="media align-items-center">
                            <div class="min-w-8rem mr-2">
                                <figure class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 160 160">
                        <circle fill="#377dff" opacity=".85" cx="48" cy="53" r="48"></circle>
                        <circle fill="#377dff" opacity=".85" cx="112" cy="53" r="48"></circle>
                        <circle fill="#377dff" opacity=".85" cx="81" cy="107" r="48"></circle>
                      </svg>
                                </figure>
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Професійний</h4>
                                <small class="d-block">Ну тут все серйозно</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-5">
                        <span class="font-size-1">Заплатіть один раз і цілілий місяць вся сімя не забуде про проблеми з інтернетом</span>
                    </div>
                    <div class="col-12 col-md col-lg-4 col-xl-3 text-lg-right mt-3 mt-lg-0">
                        <a class="btn btn-block btn-outline-primary border transition-3d-hover" href="/register">за $20 в місяць</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing -->

            <!-- Pricing -->
            <div class="card p-4 mb-3 mb-md-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="row align-items-sm-center">
                    <div class="col">
                        <div class="media align-items-center">
                            <div class="min-w-8rem mr-2">
                                <figure class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="56" height="56" viewBox="0 0 160 160">
                        <circle fill="#377dff" opacity=".85" cx="80" cy="80" r="48"></circle>
                      </svg>
                                </figure>
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Експерт</h4>
                                <small class="d-block">А воно тобі нада?</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-5">
                        <span class="font-size-1">Витримає все від звичайного користування до серверних центрів</span>
                    </div>
                    <div class="col-12 col-md col-lg-4 col-xl-3 text-lg-right mt-3 mt-lg-0">
                        <a class="btn btn-block btn-outline-primary border transition-3d-hover" href="/register">за $30 в місяць</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing -->
        </div>
    </div>

    <%- include("partials/footer.ejs") %>