<%- include("partials/head.ejs") %>

    <main id="content" role="main">
        <!-- Cart Section -->
        <div class="container space-2 space-lg-3">
            <div class="w-md-80 w-lg-50 text-center mx-md-auto">
                <i class="fas fa-check-circle text-success fa-5x mb-3"></i>
                <div class="mb-5">
                    <h1 class="h2">Ваше замовлення прийнято</h1>
                    <p>В найблищий час до вас зателефонують для уточненя введеної інформацї</p>
                </div>
                <a class="btn btn-primary btn-pill transition-3d-hover px-5 mx-3" href="/">На головну</a>
            </div>
        </div>
        <!-- End Cart Section -->
    </main>
    <%- include("partials/footer.ejs") %>